[submodule "atompaint/vendored/PDB_ligand_quality_composite_score"]
	path = atompaint/vendored/PDB_ligand_quality_composite_score
	url = https://github.com/rcsb/PDB_ligand_quality_composite_score.git
